<div class="footer">
    <div class="dev">
        Desenvolvido por Lucas William Silva Jordão
    </div>

    <div class="redes">
        <a class="icon-link" href="https://github.com/LucasJordao" target="_blank"><i class="fa fa-github"></i></a>
        <a class="icon-link" href="https://www.instagram.com/lucas_william2/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a class="icon-link" href="https://www.linkedin.com/in/lucas-jord%C3%A3o-1571921a7/" target="_bank"><i class="fa fa-linkedin"></i></a>
        <a class="icon-link" href="https://api.whatsapp.com/send?phone=5583986679667" target="_bank"><i class="fa fa-whatsapp"></i></a>
    </div>
</div>