<div class="container">
    <div class="card card-border" style="width: 100%; margin-top:5%;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item title-card" >Lista de Bancos</li>
          <li class="list-group-item">

            <table class="table">
                <thead class="bg-orange align-center">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                  </tr>
                </thead>
                <tbody class="align-center">
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                  </tr>
                </tbody>
              </table>
          </li>
        </ul>
      </div>
</div>