/* You can add global styles to this file, and also import other style files */
.active__link{
    background: rgb(255, 150, 30);
    color:white !important;
    border-radius:10px;
    font-weight:700;
}

.align-center > tr > td, th{
    text-align:center !important;
}

.nav-link{
    text-align:center !important;
}

.footer{
    width:100%;
    border-top:3px solid rgb(255, 150, 30);
    position:fixed;
    bottom:0;
    background:white;
}

.scrolly{
    overflow-y:auto;
    max-height:80%;
}

.has-error input{
    border:2px solid red;
}

input, textarea{
    outline:none;
}

input:focus, textarea:focus{
    border:2px solid gray !important;
    box-shadow:none !important;
}

.has-error label{
    color: red !important;
}

.has-error small{
    color: red;
    display:block;
}

/* width */
.scrolly::-webkit-scrollbar {
    width: 15px;
    margin-left:3px;
  }

  .form-group{
      padding-right:6px;
  }
  
  /* Track */
  .scrolly::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
  }
  
  /* Handle */
  .scrolly::-webkit-scrollbar-thumb {
    background: rgb(255, 150, 30); 
  }
  
  /* Handle on hover */
  .scrolly::-webkit-scrollbar-thumb:hover {
    background: rgb(226, 130, 20); 
  }
      
     

.form-cliente{
    height:70%;
}

.container-area{
    margin-top:85px !important;
}

@media only screen and (max-width:767px){
    form{
        height:auto !important;
    }

    .container-area{
        margin-top:70px !important;
        margin-bottom:120px;
    }

    .scrolly{
        overflow-y:hidden;
        height:auto !important;
    }
}

.scrollme{
    overflow-x:auto;
}

.redes{
    width:100%;
    text-align:center;
}

.fa-whatsapp:hover{
    color:rgb(37, 190, 37);
}

.fa-github:hover{
    color:rgb(65, 63, 63);
}

.fa-instagram:hover{
    color: rgb(214, 78, 101);
}

.fa-linkedin:hover{
    color: #004182;
}

.icon-link{
    color:black;
}

.fa{
    padding:4px 9px 10px 9px!important;
    font-size:20px !important;
}

.dev{
    width:100%;
    text-align:center;
    font-weight: 700;
    padding: 5px 0;
}

.card-border{
    border: 1px solid rgb(255, 150, 30);
}

.bg-orange{
    color: white !important;
    background: rgb(255, 150, 30) !important;
}

.title-card{
    background: rgb(255, 150, 30);
    color:white !important;
    text-align:center;
    font-weight:700;
}

.navbar{
    background:white !important;
    box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.36);
}