<div class="container container-area" style="margin-top:5%;">
    <div class="row">
        <!-- Formulário -->
        <div class="col-md-4 coluna-form">
            <h2 style="color:rgb(255, 150, 30); margin-top:10%;">Cadastrar cliente</h2>
            <app-form></app-form>
        </div>

        <!-- Tabela de clientes -->
        <div class="col-md-8">
            <div class="card card-border" style="width: 100%; margin-top:5%;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item title-card" >Lista de Clientes</li>
                  <li class="list-group-item height-400">
                    <div class="scrollme">
                        <table class="table table-responsive table-cliente" style="height:90%;">
                            <thead class="bg-orange align-center">
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Conta - Digito</th>
                                <th scope="col">Cpf</th>
                                <th scope="col">Data de Nascimento</th>
                                <th scope="col">Banco</th>
                              </tr>
                            </thead>
                            <tbody class="align-center">
                              <tr *ngFor="let cliente of clientes">
                                <th scope="row">{{ cliente.id }}</th>
                                <td>{{ cliente.nome }}</td>
                                <td>{{ cliente.email }}</td>
                                <td>{{ cliente.conta }} - {{ cliente.digito }}</td>
                                <td>{{ cliente.cpf }}</td>
                                <td>{{ cliente.nascimento }}</td>
                                <td>{{ cliente.banco.nome }}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
    </div>
</div>