<div class="container" style="margin-top:80px;">
    <div class="card">
        <div class="card-body">
            Esse projeto foi criado com o objetivo de entregar o resultado esperado no desafio da <b>Orange Talents (ZUP)</b>.<br>
            Caso as tabelas não sejam preenchidas automaticamente aguarde alguns segundos. <br>
            Isso acontece devido a inutilização da api do heroku.
        </div>
    </div>

    <div class="card" style="margin:30px 0 80px 0;">
        <div class="list-group list-group-flush" >
            <li class="list-group-item"><h5>EndPoints criados</h5></li>
            <li class="list-group-item">
                <a routerLink="/bancos">
                    <div class="card" style="width:20rem; float:left; margin-right:40px;">
                        <img src="../../assets/imgs/bancos.png" alt="" width="320px" class="card">
                        <div class="card-body">
                            <h5 class="card-">Bancos</h5>
                            <p class="card-text">Nesse end-point você vai encontrar uma tabela com dois bancos pré-cadastrados.</p>
                        </div>
                    </div>
                </a>

                <a routerLink="/clientes">
                    <div class="card" style="width:20rem;">
                        <img src="../../assets/imgs/clientes.png" alt="" width="320px" class="card">
                        <div class="card-body">
                            <h5 class="card-">Clientes</h5>
                            <p class="card-text">Nesse end-point você vai encontrar uma tabela com todos clientes cadastrados e um formulário para cadastro de novos clientes.</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-group-item"></li>
        </div>
    </div>

</div>